.Rproj.user
.Rhistory
.RData
rna_vir
code/slurm/*

.DS_Store

data/*/*
!data/process/*
!data/references/*
data/references/index/
data/references/sortmerna*
data/references/blast_refs
!README.md

slurm*
mothur*logfile
*temp*
*.docx
